
<h1> Lista de Inimigos</h1>

<ul>
    <% @enemies.each do |enemy|%>
        <li>
            <p><strong>Nome:</strong> <%= enemy.name %></p>
            <p><strong>kind:</strong> <%= enemy.kind %></p>
            <p><strong>Level:</strong> <%= enemy.Level %></p>
            <p><strong>Powe base:</strong> <%= enemy.power_base %></p>
            <p><strong>Power step:</strong><%= enemy.power_step %></p>
        </li>
    <% end %>
</ul>