
<h1><%= enemy.name %></h1>
<p><strong>kind:</strong> <%= enemy.kind %></p>
<p><strong>Level:</strong> <%= enemy.Level %></p>
<p><strong>Powe base:</strong> <%= enemy.power_base %></p>
<p><strong>Power step:</strong><%= enemy.power_step %></p>