<!-- app/views/weapons/show.html.erb -->

<h1><%= @weapon.name %></h1>
<p><strong>Description:</strong> <%= @weapon.description %></p>
<p><strong>Current Power:</strong> <%= @weapon.current_power %></p>
<p><strong>Power Base:</strong> <%= @weapon.power_base %></p>
<p><strong>Power Step:</strong> <%= @weapon.power_step %></p>
<p><strong>Level:</strong> <%= @weapon.level %></p>
